.title {
  background-color: #fff;
  background: url(https://tva1.sinaimg.cn/large/006tNbRwgy1g9v3ghr330j30ro0ss0ud.jpg) left top no-repeat;
  margin-bottom: 20px;
  background-size: 70px 70px;
  padding: 20px;
  &>h3,div {
    text-align: center;
  }
}
.content {
  background-color: #fff;
}